RewriteEngine On

# Skip existing files/directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to index.php

RewriteRule ^ /practical/ajax_crud/public/index.php [QSA,L] 



