* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}



@media (max-width: 768px) {
  #main-content {
    margin-left: 0px; 
  }
}

@media (min-width: 768px) {
  #main-content {
    margin-left: 205px; 
  }
}


.hover-bg-dark {
  background-color: #dfd5f2 !important; 
  margin: 3px;
  border-radius:10px;
 
}

.hover-bg-dark:hover {
  background-color: #343a40 !important; 
  color: white !important;
}



.my-custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.my-custom-table th,
.my-custom-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.my-custom-table thead {
  background-color: #f0f0f0;
  font-weight: bold;
}

.my-custom-table tbody tr:hover {
  background-color: #f9f9f9;
}

.my-custom-table-wrapper {
  overflow-x: auto;
}



